<!-- top navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/mainMenu">Create Chart</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/viewCharts">View Charts </a></li>
        <li class="active"><a href="/#/createChart">Create Chart <span class="sr-only">(current)</span></a></li>
        <li><a href="/#/chordFinder">Chord Library</a></li>
        <li>
						<a href="#" ng-controller="authController as authCtrl" ng-click="authCtrl.authObj.$unauth()">Logout</a>
				</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- create chart form -->
<div class="container create-chart-container centered">
  <div class="row text-center">
    <form class="chart-info-form">
      <input type="text" ng-model="createCtrl.newChart.title" placeholder="Title" autofocus tabindex="1"><br />
      <input type="text" ng-model="createCtrl.newChart.artist" placeholder="Artist" tabindex="2"><br />
    </form>
    <!-- wysiwyg textAngular editor -->
    <!-- <text-angular ta-default-wrap="pre" id="editor" ng-model="createCtrl.newChart.chartHTML" class="ta-editor"></text-angular> -->
  </div>
  <div class="row">
    <!-- <button role="button" class="btn btn-default btn-chord" ng-click="createCtrl.addChord()">Chord</button> -->
    <pre class="create-chart-pretext centered">
      <textarea cols="206" rows="30" ng-model="createCtrl.newChart.preText" class="create-chart-textarea centered" tabindex="3"></textarea>
    </pre>
</div>

<!-- bottom navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <ul class="pager">
    <button ng-click="createCtrl.saveChart()" role="button" class="btn btn-default" tabindex="4">Save</button>
    <a href="/#/mainMenu">
    	<button role="button" class="btn btn-default" ng-click=("createCtrl.autoSave()" tabindex="5">Cancel</button>
    </a>
  </ul>
</nav>